:root {
  --bg-color-primary: #55BC04;
  --bg-color-secondary: #fff;
  --bg-color-tertiary: #C2C2C2;

  --font-color-primary: #FFF;
  --font-color-secondary: #6f6f6f;
  --font-color-tertiary: #55BC04;
}

* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
