header {
    background-color: var(--bg-color-primary);
    padding: 15px 40px;
}

.header-container {
    font-size: 24px;
    color: var(--font-color-secondary);
}

.header-container h3 {
    font-weight: normal;
}